<div
  class="flex items-start justify-between p-4 transition-colors bg-white rounded-lg shadow-sm dark:bg-gray-800"
>
  <div class="flex flex-col items-start space-x-3">
    <div class="flex items-center gap-2">
      <input
        [id]="'checkbox-' + task().id"
        (change)="toggleTask()"
        [checked]="task().status === Status.Completed"
        type="checkbox"
        class="w-6 h-6 accent-primary dark:accent-primary"
      />
      <label
        [htmlFor]="'checkbox-' + task().id"
        class="text-lg font-medium select-none dark:text-white"
        [class.line-through]="task().status === Status.Completed"
        [ngClass]="{ 'text-gray-600': task().status === Status.Completed }"
      >
        {{ task().title }}
      </label>
    </div>
    <div>
      <p class="font-medium text-gray-600 dark:text-gray-300 text-md">
        {{ task().description }}
      </p>
      <p class="mt-1 text-sm text-gray-400 dark:text-gray-500">
        {{ task().createdAt | date : "dd.MM.yyyy HH:mm" }}
      </p>
    </div>
  </div>
  <div class="flex items-center gap-1">
    <span
      class="text-gray-400 cursor-pointer material-symbols-outlined dark:text-gray-300 hover:text-primary"
      (click)="openEditModal()"
      >edit</span
    >
    <span
      (click)="delete()"
      class="text-gray-400 cursor-pointer material-symbols-outlined dark:text-gray-300 hover:text-red-500 dark:hover:text-red-400"
      >delete</span
    >
  </div>
</div>

@if(isEditing()) {
<div
  class="fixed inset-0 z-50 flex items-center justify-center bg-black/30 backdrop-blur-xs"
  (click)="onBackdropClick($event)"
>
  <div
    class="w-full max-w-sm p-6 bg-white shadow-lg modal-content dark:bg-gray-900 rounded-xl"
  >
    <h2 class="mb-4 text-lg font-semibold dark:text-white">Edit Task</h2>

    <label class="block mb-2 text-sm font-medium dark:text-white">Title</label>
    <input
      type="text"
      class="w-full px-3 py-2 mb-4 text-sm border rounded dark:bg-gray-800 dark:border-gray-700 dark:text-white"
      [value]="editTitle()"
      (input)="editTitle.set($any($event.target).value)"
    />

    <label class="block mb-2 text-sm font-medium dark:text-white"
      >Description</label
    >
    <textarea
      rows="2"
      class="w-full px-3 py-2 mb-4 text-sm border rounded dark:bg-gray-800 dark:border-gray-700 dark:text-white"
      [value]="editDescription()"
      (input)="editDescription.set($any($event.target).value)"
    ></textarea>

    <div class="flex justify-end gap-2">
      <button
        class="px-4 py-2 text-sm border rounded cursor-pointer dark:border-gray-600 dark:text-white"
        (click)="closeEditModal()"
      >
        Cancel
      </button>
      <button
        class="px-4 py-2 text-sm text-white rounded cursor-pointer bg-primary"
        (click)="saveEdit()"
      >
        Save
      </button>
    </div>
  </div>
</div>
}
